### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [138]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file)
dforiginal = pd.read_csv(file)

#    ## Player Count

* Display the total number of players

In [3]:
#.describe()
#.value_counts()
#.counts()

In [226]:
df
df3 = df
#df.count()

In [140]:
#countofplayer = df1.count()
countofplayer = df['SN'].nunique()

In [141]:
countofplayer

576

In [142]:
dfunique = df.drop_duplicates('SN')

In [143]:
dfunique

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
16,16,Lisirra25,20,Male,40,Second Chance,2.52
17,17,Zontibe81,21,Male,161,Devine,1.76
18,18,Reunasu60,22,Female,82,Nirvana,4.90
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
23,23,Eyrian71,40,Male,151,Severance,3.40
24,24,Siala43,30,Male,141,Persuasion,3.19
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
26,26,Lirtossa84,11,Male,71,Demise,1.61
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16
...,...,...,...,...,...,...,...
728,728,Chanosiaya39,44,Male,93,Apocalyptic Battlescythe,1.97
729,729,Assylla81,20,Male,74,Yearning Crusher,4.18
730,730,Aidaira26,30,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
731,731,Eudanu84,22,Female,12,Dawne,1.02
733,733,Chamiman85,20,Male,66,Victor Iron Spikes,4.40
736,736,Tyialisti80,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14
737,737,Marundi65,22,Male,149,"Tranquility, Razor of Black Magic",1.75
738,738,Eusur90,36,Male,121,Massacre,1.60
739,739,Mindirranya33,35,Male,61,Ragnarok,3.87
741,741,Phiallylis33,19,Male,145,Fiery Glass Crusader,4.58
742,742,Isty55,20,Male,5,Putrid Fan,4.08
743,743,Frichilsa31,15,Male,110,Suspension,1.44
745,745,Chanista95,39,Male,37,"Shadow Strike, Glory of Ending Hope",3.16
746,746,Aellyria80,23,Male,159,"Oathbreaker, Spellblade of Trials",3.08
748,748,Rastynusuir31,20,Male,55,Vindictive Glass Edge,2.27
750,750,Iljask75,22,Male,167,"Malice, Legacy of the Queen",3.61
751,751,Lisjaskan36,11,Male,180,Stormcaller,3.36
752,752,Mindjasksya61,17,Male,112,Worldbreaker,2.60
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
756,756,Ilast79,20,Male,73,Ritual Mace,2.05
757,757,Eratiel90,18,Male,57,"Despair, Favor of Due Diligence",4.60
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70
765,765,Irith83,18,Male,130,Alpha,2.07
769,769,Ilosian36,15,Male,145,Fiery Glass Crusader,4.58
771,771,Iskossasda43,16,Male,25,Hero Cane,4.35
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,101,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19

In [144]:

#print(f"There are {countofplayer} unique players in Heros of Pymoli")

In [145]:
pc = pd.DataFrame({
    'Total Players' : [countofplayer],
    
})

In [146]:
pc

   Total Players
0            576

In [147]:
df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

## Purchasing Analysis (Total)

In [148]:
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [149]:
df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [150]:
uniqueitem = df["Item Name"].nunique()

In [151]:
uniqueitem

179

In [152]:
Price = df['Price'].sum()

In [153]:
Price

2379.77

In [154]:
Meanie = df['Price'].mean()

In [155]:
Meanie

3.050987179487176

In [156]:
Countofsales = df['Purchase ID'].count()

In [157]:
Countofsales

780

In [287]:
dfsummary = pd.DataFrame({
    'Unique Item': [uniqueitem],
    'Average Price':[round(Meanie, 2)],
    'Number of Sales':[Countofsales],
    'Total':[Price]
})

In [288]:
dfsummary["Unique Item"] = dfsummary["Unique Item"].map("${:.2f}".format)
dfsummary["Average Price"] = dfsummary["Average Price"].map("${:.2f}".format)
dfsummary["Total"] = dfsummary["Total"].map("${:.2f}".format)


dfsummary

  Unique Item Average Price  Number of Sales     Total
0     $179.00         $3.05              780  $2379.77

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [160]:
gm = df.loc[df['Gender']=='Male',:]

In [161]:
gm.copy().head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [162]:
gm.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [163]:
gmunique= gm.drop_duplicates(subset='SN')

In [164]:
gmunique.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [165]:
gf = df.loc[df['Gender']=='Female',:]

In [166]:
gf.copy().head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79

In [167]:
gfunique= gf.drop_duplicates(subset='SN')
gfunique.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79

In [168]:
gn = df.loc[df['Gender']=='Other / Non-Disclosed',:]

In [169]:
gn = gn.drop_duplicates(subset='SN')

In [170]:
gncount = len(gn)
gnpercentage = (gncount/countofplayer) * 100

In [171]:
gncount

11

In [172]:
gmcount = len(gmunique)
gmcount
gfcount = len(gfunique)
gfcount
gmpercentage = (gmcount/countofplayer) * 100
gmpercentage
gfpercentage = (gfcount/countofplayer) * 100
gfpercentage

14.0625

In [173]:
gmcount

484

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [289]:
gendersdemodf = pd.DataFrame({
    'Count': [gmcount, gfcount, gncount], 
    'Percentage of Players': [round(gmpercentage), round(gfpercentage), round(gnpercentage)],
    'Genders' : ['Male', 'Female', 'Other / Non-Disclosed']
})
#gdemodf = pd.DataFrame(data=genderdemodict, )

#genderdemodf = pd.DataFrame(data=genderdemodict)
#genderdemodf
#genderdemodf
#gdemodf
gendersdemodf


gendersdemodf["Percentage of Players"] = gendersdemodf["Percentage of Players"].map("{:.2f}%".format)

In [293]:
gendersdemodf.set_index('Genders')

                       Count Percentage of Players
Genders
Male                     484                84.00%
Female                    81                14.00%
Other / Non-Disclosed     11                 2.00%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [177]:
gfsum = gf['Price'].sum()
gmsum = gm['Price'].sum()
gnsum = gn['Price'].sum()
aggdf = gf['Price'].sum() 

outergf = len(gf)
outergm = len(gm)
outergn = len(gn)
avggf = (gfsum/outergf)
avggm = (gmsum/outergm)
avggn = (gnsum/outergn)
agggf = gfsum
agggm = gmsum
agggn = gnsum
avg2gf = (agggf / outergf)
avg2gm = (agggm / outergm)
avg2gn = (agggn / outergn)

In [178]:
gfpricesum = gf['Price'].sum()

In [294]:
purchasedf = pd.DataFrame({
    'Purchase Count' : [outergf, outergm, outergn],
    'Average Purchase Price' : [avggf, avggm, avggn],
    'Total Purchase Value' : [agggf, agggm, agggn],
    'Avg Total Purchase per Person' : [avg2gf, avg2gm, avg2gn],
    'Genders' : ['Male,', 'Female', 'Others / NonDisclosed']   
})
#pd.options.display.float.format = '${:,.2f}'.format

purchasedf["Average Purchase Price"] = purchasedf["Average Purchase Price"].map("${:.2f}".format)
purchasedf["Total Purchase Value"] = purchasedf["Total Purchase Value"].map("${:.2f}".format)
purchasedf["Avg Total Purchase per Person"] = purchasedf["Avg Total Purchase per Person"].map("${:.2f}".format)
purchasedf.set_index('Genders')

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Genders,,,,
"Male,",113,$3.20,$361.94,$3.20
Female,652,$3.02,$1967.64,$3.02
Others / NonDisclosed,11,$3.41,$37.52,$3.41

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [180]:
dfagebin = [0,9,14,19,24,29,34,39,100]
agegroupbin=['<10', '10-14', '15-19', '20-24','25-29', '30-34', '35-39', '40+']

In [181]:
#pd.cut(dfunique['Age']

In [286]:
df3.copy().head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Groups
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [241]:
df3agegroup = df3.groupby(by='Age Groups')

In [251]:
df3agegroup

             SN
Age Groups
<10          17
10-14        22
15-19       107
20-24       258
25-29        77
30-34        52
35-39        31
40+          12

In [185]:
#dfagegroup = dfunique.groupby(by="Age Groups")

In [186]:
#df2 = dfagegroup['Purchase ID']

In [242]:
df3agegroup = pd.DataFrame(dfagegroup['SN'].count())

In [278]:
def percentage(x):
    return (x / countofplayer * 100)

In [279]:
df3agegroup['Percentage of Player'] = df3agegroup['SN'].apply(percentage)

In [280]:
df3agedemo = df3agegroup.rename(columns = {'SN':'Total Counts'})

In [281]:
countlist = df3agedemo['Total Counts'].tolist()

In [282]:
countlist

[17, 22, 107, 258, 77, 52, 31, 12]

In [284]:
df3agedemo["Percentage of Player"] = df3agedemo["Percentage of Player"].map("{:.2f}%".format)

In [285]:
df3agedemo

            Total Counts Percentage of Player
Age Groups
<10                   17                2.95%
10-14                 22                3.82%
15-19                107               18.58%
20-24                258               44.79%
25-29                 77               13.37%
30-34                 52                9.03%
35-39                 31                5.38%
40+                   12                2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [195]:
dfagebin = [0,9,14,19,24,29,34,39,100]
agegroupbin=['<10', '10-14', '15-19', '20-24','25-29', '30-34', '35-39', '40+']

In [196]:
dforiginal['Age Group'] = pd.cut(dforiginal['Age'], dfagebin, labels=agegroupbin, right=True)

In [197]:
dforiginal.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [198]:

#['<10', '10-14', '15-19', '20-24','25-29', '30-34', '35-39', '40+']
df10 = dforiginal.loc[(dforiginal['Age Group'] == '<10')]
df1014 = dforiginal.loc[(dforiginal['Age Group'] == '10-14')]
df1519 = dforiginal.loc[(dforiginal['Age Group'] == '15-19')]
df2024 = dforiginal.loc[(dforiginal['Age Group'] == '20-24')]
df2529 = dforiginal.loc[(dforiginal['Age Group'] == '25-29')]
df3034 = dforiginal.loc[(dforiginal['Age Group'] == '30-34')]
df3539 = dforiginal.loc[(dforiginal['Age Group'] == '35-39')]
df40 = dforiginal.loc[(dforiginal['Age Group'] == '40+')]

df10price= df10['Price'].sum()
df1014price= df1014['Price'].sum()
df1519price= df1519['Price'].sum()
df2024price= df2024['Price'].sum()
df2529price= df2529['Price'].sum()
df3034price= df3034['Price'].sum()
df3539price= df3539['Price'].sum()
df40price= df40['Price'].sum()

df10count = df10['Purchase ID'].nunique()
df1014count = df1014['Purchase ID'].nunique()
df1519count = df1519['Purchase ID'].nunique()
df2024count = df2024['Purchase ID'].nunique()
df2529count = df2529['Purchase ID'].nunique()
df3034count = df3034['Purchase ID'].nunique()
df3539count = df3539['Purchase ID'].nunique()
df40count = df40['Purchase ID'].nunique()

df10avgprice = df10price/df10count
df1014avgprice = df1014price/df1014count
df1519avgprice = df1519price/df1519count
df2024avgprice = df2024price/df2024count
df2529avgprice = df2529price/df2529count
df3034avgprice = df3034price/df3034count
df3539avgprice = df3539price/df3539count
df40avgprice = df40price/df40count

df10pp = df10price/countlist[0]
df1014pp = df1014price/countlist[1]
df1519pp = df1519price/countlist[2]
df2024pp = df2024price/countlist[3]
df2529pp = df2529price/countlist[4]
df3034pp = df3034price/countlist[5]
df3539pp = df3539price/countlist[6]
df40pp = df40price/countlist[7]

#df10avg = df10price /

In [200]:
df10count = df10['Purchase ID'].nunique()

In [201]:
purchasinganalysis = pd.DataFrame({
    'Purchase Counts': [df10count, df1014count, df1519count, df2024count, df2529count, df3034count, df3539count, df40count],
    'Average Purchase Price': [df10avgprice, df1014avgprice, df1519avgprice, df2024avgprice, df2529avgprice, df3034avgprice, df3539avgprice, df40avgprice],
    'Total Purchase Value': [df10price, df1014price, df1519price, df2024price, df2529price, df3034price, df3539price, df40price],
    'Avg Total Purchase per Person': [df10pp, df1014pp, df1519pp, df2024pp, df2529pp, df3034pp, df3539pp, df40pp]
    },
    index = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+'])

purchasinganalysis["Average Purchase Price"] = purchasinganalysis["Average Purchase Price"].map("${:.2f}".format)
purchasinganalysis["Total Purchase Value"] = purchasinganalysis["Total Purchase Value"].map("${:.2f}".format)
purchasinganalysis["Avg Total Purchase per Person"] = purchasinganalysis["Avg Total Purchase per Person"].map("${:.2f}".format)

In [203]:
purchasinganalysis

,Purchase Counts,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [204]:
df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Groups
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20-24
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35-39
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67,20-24
8,8,Undjask33,22,Male,21,Souleater,1.10,20-24
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,35-39
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74,20-24
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67,20-24
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18,20-24
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70,20-24
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86,35-39
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89,20-24
16,16,Lisirra25,20,Male,40,Second Chance,2.52,20-24
17,17,Zontibe81,21,Male,161,Devine,1.76,20-24
18,18,Reunasu60,22,Female,82,Nirvana,4.90,20-24
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64,30-34
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60,20-24
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48,20-24
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,35-39
23,23,Eyrian71,40,Male,151,Severance,3.40,40+
24,24,Siala43,30,Male,141,Persuasion,3.19,30-34
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,25-29
26,26,Lirtossa84,11,Male,71,Demise,1.61,10-14
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,<10
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32,20-24
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16,20-24
...,...,...,...,...,...,...,...,...
750,750,Iljask75,22,Male,167,"Malice, Legacy of the Queen",3.61,20-24
751,751,Lisjaskan36,11,Male,180,Stormcaller,3.36,10-14
752,752,Mindjasksya61,17,Male,112,Worldbreaker,2.60,15-19
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,35-39
754,754,Pheosurllorin41,23,Female,79,"Alpha, Oath of Zeal",4.05,20-24
755,755,Raesty92,12,Male,76,Haunted Bronzed Bludgeon,3.15,10-14
756,756,Ilast79,20,Male,73,Ritual Mace,2.05,20-24
757,757,Eratiel90,18,Male,57,"Despair, Favor of Due Diligence",4.60,15-19
758,758,Iral74,21,Male,182,Toothpick,4.03,20-24
759,759,Tyaelorap29,25,Male,72,Winter's Bite,3.77,25-29
760,760,Aithelis62,21,Male,44,Bonecarvin Battle Axe,2.38,20-24
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70,40+
762,762,Asur53,26,Male,110,Suspension,1.44,25-29
763,763,Lassilsala30,21,Male,85,Malificent Bag,1.75,20-24
764,764,Saedaiphos46,18,Male,113,Solitude's Reaver,4.07,15-19
765,765,Irith83,18,Male,130,Alpha,2.07,15-19
766,766,Aelastirin39,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14,20-24
767,767,Ilmol66,8,Female,92,Final Critic,4.88,<10
768,768,Assassasta79,38,Male,92,Final Critic,4.88,35-39
769,769,Ilosian36,15,Male,145,Fiery Glass Crusader,4.58,15-19
770,770,Lirtosia63,34,Male,12,Dawne,1.02,30-34
771,771,Iskossasda43,16,Male,25,Hero Cane,4.35,15-19
772,772,Asur53,26,Male,136,Ghastly Adamantite Protector,3.58,25-29
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02,20-24
774,774,Jiskjask80,11,Male,101,Final Critic,4.19,10-14
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,101,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [205]:
agg_dict={'Price': np.sum,
          'Purchase ID': np.size}
columns={'Price': 'Total Spent',
          'Purchase ID': 'Total Purchases'}

df_grouped = df.groupby(by='SN').agg(agg_dict).rename(columns=columns)

In [206]:
#dftopsn = df.groupby(by='SN')

In [207]:
df_grouped

                 Total Spent  Total Purchases
SN
Adairialis76            2.28                1
Adastirin33             4.48                1
Aeda94                  4.91                1
Aela59                  4.32                1
Aelaria33               1.79                1
Aelastirin39            7.29                2
Aelidru27               1.09                1
Aelin32                 8.98                3
Aelly27                 6.79                2
Aellynun67              3.74                1
Aellyria80              3.08                1
Aelollo59               5.63                2
Aenarap34               2.96                1
Aeral43                 4.40                1
Aeral68                 4.00                1
Aeral97                 4.80                1
Aeralria27              4.09                1
Aeralstical35           2.96                1
Aeri84                  1.61                1
Aerillorin70            3.33                1
Aerithllora36           8.64                2
Aerithnucal56           4.40                1
Aerithnuphos61          4.91                1
Aerithriaphos45         1.56                1
Aerithriaphos46         2.18                1
Aesri53                 1.76                1
Aesty53                 3.91                2
Aestysu37               5.38                2
Aesur96                 2.21                1
Aesurstilis64           1.03                1
...                      ...              ...
Undosia27               3.77                1
Undosian34              8.30                2
Undotesta33             4.74                1
Wailin72                2.73                1
Yadacal26               6.54                2
Yadaisuir65             4.09                1
Yadam35                 2.48                1
Yadanu52                2.38                1
Yadaphos40              5.35                2
Yalae81                 6.69                2
Yalaeria91              1.06                1
Yaliru88                3.03                1
Yalo85                  3.65                1
Yalostiphos68           4.40                1
Yana46                  3.55                1
Yarithllodeu72          3.75                1
Yarithrgue83            3.45                1
Yarithrin84             4.14                1
Yarithsurgue62          4.94                1
Yarolwen77              4.43                1
Yasrisu92               3.44                1
Yastyriaphos75          4.75                1
Yasur35                 4.48                1
Yasur85                 1.10                1
Yathecal72              3.46                1
Yathecal82              6.22                3
Yathedeu43              6.02                2
Yoishirrala98           4.58                1
Zhisrisu83              7.89                2
Zontibe81               8.03                3

[576 rows x 2 columns]

In [208]:

df_grouped.sort_values('Total Spent', ascending=False).head()

             Total Spent  Total Purchases
SN
Lisosia93          18.96                5
Idastidru52        15.45                4
Chamjask73         13.83                3
Iral74             13.62                4
Iskadarya95        13.10                3

In [209]:
def average(x):
    return (x / df_grouped['Total Purchases'])

In [210]:
df_grouped['Average Purchase Value'] = df_grouped['Total Spent'] / df_grouped['Total Purchases']

In [211]:
df_grouped_head = df_grouped.sort_values('Total Spent', ascending=False).head()

In [212]:
df_grouped_head["Total Spent"] = df_grouped_head["Total Spent"].map("${:.2f}".format)
df_grouped_head["Average Purchase Value"] = df_grouped_head["Average Purchase Value"].map("${:.2f}".format)

df_grouped_head

            Total Spent  Total Purchases Average Purchase Value
SN
Lisosia93        $18.96                5                  $3.79
Idastidru52      $15.45                4                  $3.86
Chamjask73       $13.83                3                  $4.61
Iral74           $13.62                4                  $3.40
Iskadarya95      $13.10                3                  $4.37

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [213]:
#agg_dict2={'Price': np.sum,
 #         'Purchase ID': np.size}
#columns2={'Price': 'Total Purchase Value',
 #         'Purchase ID': 'Count of Purchase'}

#df_pop_item = df.groupby(by='Item Name').agg(agg_dict2).rename(columns=columns2)

In [220]:
itemcount = pd.DataFrame(df.groupby(["Item ID","Item Name"]).count())

itemsum = pd.DataFrame(df.groupby(["Item ID","Item Name"]).sum())

itemcount["Purchase Count"] = itemcount["Age"]
itemcount["Item Price"] = round(itemsum["Price"]/itemcount["Age"],2)
itemcount["Total Purchase Value"] = itemsum["Price"]

itemcount = itemcount.sort_values(by = ["Purchase Count","Total Purchase Value"],ascending = False)

popularitem = itemcount.drop(labels = ["Age","Age Groups","Gender","Price","SN",'Purchase ID'],axis = 1)

popularitem["Item Price"] = popularitem["Item Price"].map("${:,.2f}".format)
popularitem["Total Purchase Value"] = popularitem["Total Purchase Value"].map("${:,.2f}".format)


popularitem.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
92,Final Critic,8,$4.88,$39.04

In [92]:
#df_pop_item = df_pop_item.sort_values("Total Purchase Value", ascending=False).head()

In [223]:
#df

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [225]:
itemcount = itemcount.sort_values(by = ["Total Purchase Value"],ascending = False)

mostprofit = itemcount.drop(labels = ["Age","Age Groups","Gender","Price","SN",'Purchase ID'],axis = 1)

mostprofit["Item Price"] = mostprofit["Item Price"].map("${:,.2f}".format)
mostprofit["Total Purchase Value"] = mostprofit["Total Purchase Value"].map("${:,.2f}".format)

mostprofit.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80