### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file)
dforiginal = pd.read_csv(file)

#    ## Player Count

* Display the total number of players

In [2]:
df
df3 = df
#df.count()

In [3]:
#countofplayer = df1.count()
countofplayer = df['SN'].nunique()

In [4]:
countofplayer

576

In [5]:
dfunique = df.drop_duplicates('SN')

In [6]:
dfunique.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [7]:
#print(f"There are {countofplayer} unique players in Heros of Pymoli")

In [8]:
pc = pd.DataFrame({
    'Total Players' : [countofplayer],
    
})

In [9]:
pc

   Total Players
0            576

## Purchasing Analysis (Total)

In [10]:
uniqueitem = df['Item ID'].nunique()

In [11]:
uniqueitem

183

In [12]:
Price = df['Price'].sum()

In [13]:
Price

2379.77

In [14]:
Meanie = df['Price'].mean()

In [15]:
Meanie

3.050987179487176

In [16]:
Countofsales = df['Purchase ID'].count()

In [17]:
Countofsales

780

In [18]:
dfsummary = pd.DataFrame({
    'Unique Item': [uniqueitem],
    'Average Price':[round(Meanie, 2)],
    'Number of Sales':[Countofsales],
    'Total':[Price]
})

In [19]:
dfsummary["Unique Item"] = dfsummary["Unique Item"]
dfsummary["Average Price"] = dfsummary["Average Price"].map("${:.2f}".format)
dfsummary["Total"] = dfsummary["Total"].map("${:.2f}".format)


dfsummary

   Unique Item Average Price  Number of Sales     Total
0          183         $3.05              780  $2379.77

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [20]:
gm = df.loc[df['Gender']=='Male',:]

In [21]:
gm.copy().head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [22]:
gm.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [23]:
gmunique= gm.drop_duplicates(subset='SN')

In [24]:
gmunique.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [25]:
gf = df.loc[df['Gender']=='Female',:]

In [26]:
gf.copy().head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79

In [27]:
gfunique= gf.drop_duplicates(subset='SN')
gfunique.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79

In [28]:
gn = df.loc[df['Gender']=='Other / Non-Disclosed',:]

In [29]:
gn = gn.drop_duplicates(subset='SN')

In [30]:
gncount = len(gn)
gnpercentage = (gncount/countofplayer) * 100

In [31]:
gncount

11

In [32]:
gmcount = len(gmunique)
gmcount
gfcount = len(gfunique)
gfcount
gmpercentage = (gmcount/countofplayer) * 100
gmpercentage
gfpercentage = (gfcount/countofplayer) * 100
gfpercentage

14.0625

In [33]:
gmpercentage

84.02777777777779

In [34]:
gfpercentage

14.0625

In [35]:
gmcount

484

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [36]:
gendersdemodf = pd.DataFrame({
    'Count': [gmcount, gfcount, gncount], 
    'Percentage of Players': [(gmpercentage), (gfpercentage), (gnpercentage)],
    'Genders' : ['Male', 'Female', 'Other / Non-Disclosed']
})
#gdemodf = pd.DataFrame(data=genderdemodict, )

#genderdemodf = pd.DataFrame(data=genderdemodict)
#genderdemodf
#genderdemodf
#gdemodf
gendersdemodf


gendersdemodf["Percentage of Players"] = gendersdemodf["Percentage of Players"].map("{:.2f}%".format)

In [37]:
gendersdemodf.set_index('Genders')

                       Count Percentage of Players
Genders
Male                     484                84.03%
Female                    81                14.06%
Other / Non-Disclosed     11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [38]:
gn2 = df.loc[df['Gender']=='Other / Non-Disclosed',:]

In [39]:
gn2

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39
237,237,Idairin51,20,Other / Non-Disclosed,16,Restored Bauble,3.55
242,242,Eodaisu60,16,Other / Non-Disclosed,39,"Betrayal, Whisper of Grieving Widows",3.94
291,291,Idairin51,20,Other / Non-Disclosed,35,Heartless Bone Dualblade,3.45
350,350,Rairith81,15,Other / Non-Disclosed,34,Retribution Axe,2.22
401,401,Lirtim36,15,Other / Non-Disclosed,46,Hopeless Ebon Dualblade,1.33
484,484,Chanosian48,35,Other / Non-Disclosed,39,"Betrayal, Whisper of Grieving Widows",3.94
549,549,Maluncil97,25,Other / Non-Disclosed,146,Warped Iron Scimitar,3.10
629,629,Maluncil97,25,Other / Non-Disclosed,107,"Splitter, Foe Of Subtlety",2.18
637,637,Airi27,24,Other / Non-Disclosed,163,Thunderfury Scimitar,3.45
747,747,Siarithria38,38,Other / Non-Disclosed,146,Warped Iron Scimitar,3.10

In [40]:
gntotal = df.loc[df['Gender']=='Other / Non-Disclosed',:]

In [41]:
gntotal = len(gntotal)

In [42]:
gfsum = gf['Price'].sum()
gmsum = gm['Price'].sum()
gnsum = gn2['Price'].sum()
aggdf = gf['Price'].sum() 

outergf = len(gf)
outergm = len(gm)
outergn = len(gn)
avggf = (gfsum/outergf)
avggm = (gmsum/outergm)
avggn = (gnsum/gntotal)
agggf = gfsum
agggm = gmsum
agggn = gnsum
avg2gf = (agggf / gfcount)
avg2gm = (agggm / gmcount)
avg2gn = (agggn / gncount)

In [43]:
gfpricesum = gf['Price'].sum()

In [44]:
purchasedf = pd.DataFrame({
    'Purchase Count' : [outergf, outergm, gntotal],
    'Average Purchase Price' : [avggf, avggm, avggn],
    'Total Purchase Value' : [agggf, agggm, agggn],
    'Avg Total Purchase per Person' : [avg2gf, avg2gm, avg2gn],
    'Genders' : ['Male,', 'Female', 'Others / NonDisclosed']   
})
#pd.options.display.float.format = '${:,.2f}'.format

purchasedf["Average Purchase Price"] = purchasedf["Average Purchase Price"].map("${:.2f}".format)
purchasedf["Total Purchase Value"] = purchasedf["Total Purchase Value"].map("${:.2f}".format)
purchasedf["Avg Total Purchase per Person"] = purchasedf["Avg Total Purchase per Person"].map("${:.2f}".format)
purchasedf.set_index('Genders')

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Genders,,,,
"Male,",113,$3.20,$361.94,$4.47
Female,652,$3.02,$1967.64,$4.07
Others / NonDisclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [45]:
dfagebin = [0,9,14,19,24,29,34,39,100]
agegroupbin=['<10', '10-14', '15-19', '20-24','25-29', '30-34', '35-39', '40+']

In [46]:
#pd.cut(dfunique['Age']

In [47]:
df4 = dfunique

In [48]:
df4.copy().head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [49]:
df4['Age Group'] = pd.cut(df4['Age'], dfagebin, labels=agegroupbin, right=True)

C:\Users\angie\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [50]:
df4.copy().head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [51]:
df3agegroup = df4.groupby(by='Age Group')

In [52]:
df3agegroup = pd.DataFrame(df3agegroup['SN'].count())

In [53]:
def percentage(x):
    return (x / countofplayer * 100)

In [54]:
df3agegroup['Percentage of Player'] = df3agegroup['SN'].apply(percentage)

In [55]:
df3agedemo = df3agegroup.rename(columns = {'SN':'Total Counts'})

In [56]:
countlist = df3agedemo['Total Counts'].tolist()

In [57]:
countlist

[17, 22, 107, 258, 77, 52, 31, 12]

In [58]:
df3agedemo["Percentage of Player"] = df3agedemo["Percentage of Player"].map("{:.2f}%".format)

In [59]:
df3agedemo

           Total Counts Percentage of Player
Age Group
<10                  17                2.95%
10-14                22                3.82%
15-19               107               18.58%
20-24               258               44.79%
25-29                77               13.37%
30-34                52                9.03%
35-39                31                5.38%
40+                  12                2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [60]:
dfagebin = [0,9,14,19,24,29,34,39,100]
agegroupbin=['<10', '10-14', '15-19', '20-24','25-29', '30-34', '35-39', '40+']

In [61]:
dforiginal['Age Group'] = pd.cut(dforiginal['Age'], dfagebin, labels=agegroupbin, right=True)

In [62]:
dforiginal.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [63]:
#['<10', '10-14', '15-19', '20-24','25-29', '30-34', '35-39', '40+']

In [64]:
# df10 = dforiginal.loc[(dforiginal['Age Group'] == '<10')]
# df1014 = dforiginal.loc[(dforiginal['Age Group'] == '10-14')]
# df1519 = dforiginal.loc[(dforiginal['Age Group'] == '15-19')]
# df2024 = dforiginal.loc[(dforiginal['Age Group'] == '20-24')]
# df2529 = dforiginal.loc[(dforiginal['Age Group'] == '25-29')]
# df3034 = dforiginal.loc[(dforiginal['Age Group'] == '30-34')]
# df3539 = dforiginal.loc[(dforiginal['Age Group'] == '35-39')]
# df40 = dforiginal.loc[(dforiginal['Age Group'] == '40+')]

# df10price= df10['Price'].sum()
# df1014price= df1014['Price'].sum()
# df1519price= df1519['Price'].sum()
# df2024price= df2024['Price'].sum()
# df2529price= df2529['Price'].sum()
# df3034price= df3034['Price'].sum()
# df3539price= df3539['Price'].sum()
# df40price= df40['Price'].sum()

# df10count = df10['Purchase ID'].nunique()
# df1014count = df1014['Purchase ID'].nunique()
# df1519count = df1519['Purchase ID'].nunique()
# df2024count = df2024['Purchase ID'].nunique()
# df2529count = df2529['Purchase ID'].nunique()
# df3034count = df3034['Purchase ID'].nunique()
# df3539count = df3539['Purchase ID'].nunique()
# df40count = df40['Purchase ID'].nunique()

# df10avgprice = df10price/df10count
# df1014avgprice = df1014price/df1014count
# df1519avgprice = df1519price/df1519count
# df2024avgprice = df2024price/df2024count
# df2529avgprice = df2529price/df2529count
# df3034avgprice = df3034price/df3034count
# df3539avgprice = df3539price/df3539count
# df40avgprice = df40price/df40count

# df10pp = df10price/countlist[0]
# df1014pp = df1014price/countlist[1]
# df1519pp = df1519price/countlist[2]
# df2024pp = df2024price/countlist[3]
# df2529pp = df2529price/countlist[4]
# df3034pp = df3034price/countlist[5]
# df3539pp = df3539price/countlist[6]
# df40pp = df40price/countlist[7]

In [65]:
#df10avg = df10price /

In [66]:
# df10count = df10['Purchase ID'].nunique()

In [67]:
# purchasinganalysis = pd.DataFrame({
#     'Purchase Counts': [df10count, df1014count, df1519count, df2024count, df2529count, df3034count, df3539count, df40count],
#     'Average Purchase Price': [df10avgprice, df1014avgprice, df1519avgprice, df2024avgprice, df2529avgprice, df3034avgprice, df3539avgprice, df40avgprice],
#     'Total Purchase Value': [df10price, df1014price, df1519price, df2024price, df2529price, df3034price, df3539price, df40price],
#     'Avg Total Purchase per Person': [df10pp, df1014pp, df1519pp, df2024pp, df2529pp, df3034pp, df3539pp, df40pp]
#     },
#     index = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+'])

# purchasinganalysis["Average Purchase Price"] = purchasinganalysis["Average Purchase Price"].map("${:.2f}".format)
# purchasinganalysis["Total Purchase Value"] = purchasinganalysis["Total Purchase Value"].map("${:.2f}".format)
# purchasinganalysis["Avg Total Purchase per Person"] = purchasinganalysis["Avg Total Purchase per Person"].map("${:.2f}".format)

In [68]:
dforiginal_copy=dforiginal
dforiginal_copy['PriceX']=dforiginal_copy['Price']
agg_dict={'Purchase ID': np.size,
          'Price': np.mean,
          'PriceX': np.sum}

columns={'Purchase ID': 'Purchase Counts',
         'Price': 'Average Purchase Price',
         'PriceX': 'Total Purchase Value'}

df_summaryAge=dforiginal_copy.groupby('Age Group').agg(agg_dict).rename(columns=columns)
df_summaryAge['Average Total Purchase per Person']=df_summaryAge['Total Purchase Value']/df3agedemo['Total Counts']


df_summaryAge["Average Purchase Price"] = df_summaryAge["Average Purchase Price"].map("${:.2f}".format)
df_summaryAge["Total Purchase Value"] = df_summaryAge["Total Purchase Value"].map("${:.2f}".format)
df_summaryAge["Average Total Purchase per Person"] = df_summaryAge["Average Total Purchase per Person"].map("${:.2f}".format)
df_summaryAge

,Purchase Counts,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [69]:
dforiginal.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group,PriceX
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24,3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24,1.44

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [70]:
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [71]:
agg_dict={'Price': np.sum,
          'Purchase ID': np.size}
columns={'Price': 'Total Spent',
          'Purchase ID': 'Total Purchases'}

df_grouped = df.groupby(by='SN').agg(agg_dict).rename(columns=columns)

In [72]:
#dftopsn = df.groupby(by='SN')

In [73]:
df_grouped.head()

              Total Spent  Total Purchases
SN
Adairialis76         2.28                1
Adastirin33          4.48                1
Aeda94               4.91                1
Aela59               4.32                1
Aelaria33            1.79                1

In [74]:
df_grouped.sort_values('Total Spent', ascending=False).head()

             Total Spent  Total Purchases
SN
Lisosia93          18.96                5
Idastidru52        15.45                4
Chamjask73         13.83                3
Iral74             13.62                4
Iskadarya95        13.10                3

In [75]:
def average(x):
    return (x / df_grouped['Total Purchases'])

In [76]:
df_grouped['Average Purchase Value'] = df_grouped['Total Spent'] / df_grouped['Total Purchases']

In [77]:
df_grouped_head = df_grouped.sort_values('Total Spent', ascending=False).head()

In [78]:
df_grouped_head["Total Spent"] = df_grouped_head["Total Spent"].map("${:.2f}".format)
df_grouped_head["Average Purchase Value"] = df_grouped_head["Average Purchase Value"].map("${:.2f}".format)

df_grouped_head

            Total Spent  Total Purchases Average Purchase Value
SN
Lisosia93        $18.96                5                  $3.79
Idastidru52      $15.45                4                  $3.86
Chamjask73       $13.83                3                  $4.61
Iral74           $13.62                4                  $3.40
Iskadarya95      $13.10                3                  $4.37

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [79]:
#agg_dict2={'Price': np.sum,
 #         'Purchase ID': np.size}
#columns2={'Price': 'Total Purchase Value',
 #         'Purchase ID': 'Count of Purchase'}

#df_pop_item = df.groupby(by='Item Name').agg(agg_dict2).rename(columns=columns2)

In [80]:
itemcount = pd.DataFrame(df.groupby(["Item ID","Item Name"]).count())

itemsum = pd.DataFrame(df.groupby(["Item ID","Item Name"]).sum())

itemcount["Purchase Count"] = itemcount["Age"]
itemcount["Item Price"] = round(itemsum["Price"]/itemcount["Age"],2)
itemcount["Total Purchase Value"] = itemsum["Price"]

itemcount = itemcount.sort_values(by = ["Purchase Count","Total Purchase Value"],ascending = False)

popularitem = itemcount.drop(labels = ["Age","Gender","Price","SN",'Purchase ID'],axis = 1)

popularitem["Item Price"] = popularitem["Item Price"].map("${:,.2f}".format)
popularitem["Total Purchase Value"] = popularitem["Total Purchase Value"].map("${:,.2f}".format)


popularitem.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
92,Final Critic,8,$4.88,$39.04

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [81]:
itemcount = itemcount.sort_values(by = ["Total Purchase Value"],ascending = False)

mostprofit = itemcount.drop(labels = ["Age","Gender","Price","SN",'Purchase ID'],axis = 1)

mostprofit["Item Price"] = mostprofit["Item Price"].map("${:,.2f}".format)
mostprofit["Total Purchase Value"] = mostprofit["Total Purchase Value"].map("${:,.2f}".format)

mostprofit.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80